apiVersion: apps/v1
kind: Deployment
metadata:
  name: meteoride-redis
  namespace: default
  labels:
    app: meteoride-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: meteoride-redis
  template:
    metadata:
      labels:
        app: meteoride-redis
    spec:
      containers:
      - name: redis
        image: redis:7-alpine
        ports:
        - containerPort: 6379
          name: redis
        resources:
          limits:
            cpu: "250m"
            memory: "128Mi"
          requests:
            cpu: "100m"
            memory: "64Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: meteoride-redis
  namespace: default
spec:
  selector:
    app: meteoride-redis
  ports:
  - protocol: TCP
    port: 6379
    targetPort: 6379
  type: ClusterIP
